*.php linguist-language=PHP
*.js linguist-language=JavaScript  
*.css linguist-language=CSS
*.html linguist-language=HTML
# Override any misdetected files
*.hack linguist-language=PHP
# Make sure PHP files are detected properly
cwmp/*.php linguist-language=PHP
